@import url(./font.css);
img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color:#232323;
}
li{
    list-style-type: none;
  
}
ul{
    padding: 0;
    /* margin:auto; */
    
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p{
    margin-bottom: 0;
}
html::-webkit-scrollbar {
    width: 12px; 
    height: 100%;
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: #333; 
    /* border-radius: 6px;  */
  }
  html::-webkit-scrollbar-thumb:hover{
    background-color: #ee6c4d;
  }
