/* sec 3 && sec 6*/

.sec3__item__btn1{
    padding: 11px 30px;
    border: 1px solid transparent;
    color: white;
    background-color: #ee6c4d;
    font-family: Poppins-SemiBold;
    font-size: 15px;
    transition: all 0.5s;
    border-radius: 4px;
    position: relative;
    z-index: 1;
   
}
 .sec3__item__btn1::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 0;
    height: 100%;
   transition: all 0.4s;
   border-radius: 4px;
   border: 1px solid #ee6c4d;

 
}
 .sec3__item__btn1:hover:after{
    background-color: #fff;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ee6c4d;
  
   
}
a .sec3__item__btn1 {
    transition: all 0.5s;
    text-transform: uppercase;
    color: white;
 
}
a .sec3__item__btn1:hover {
    color: #ee6c4d;
 
}
a .sec3__item__btnuper{
    text-transform: capitalize;
    word-spacing: 1px;
}