.cart-container__text{
  border-bottom: 1px solid #eee;
padding-bottom: 10px;
}
.cart-container__text h3{
  font-family: Poppins-SemiBold;
  font-size: 17px;
  
}

.cart-icon {
    cursor: pointer;
}

.cart-icon i {
    font-size: 24px;
}

.cart-container {
    position: fixed;
    top: 0;
    right: -360px;
    width: 360px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* overflow-y: auto; */
    padding: 20px;
    transition: right 0.3s ease; 
    z-index: 85;

}
.cart-container2 {
  position: fixed;
  top: 0;
  left: -360px;
  width: 360px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: left 0.5s ease; 
  z-index: 8556;
}


.close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    font-family: Poppins-Medium;
}
.cartall{

    height: calc(100% - 210px);
    overflow-y: auto;


}
.cartall::-webkit-scrollbar {
    width: 5px; 
    height: 100%;
  }
  
  .cartall::-webkit-scrollbar-thumb {
    background-color: #333; 
    border-radius: 6px; 
  }
  .cartall::-webkit-scrollbar-thumb:hover{
    background-color: #ee6c4d;
  }
  

.cart__item i{
cursor: pointer;
  position: absolute    ;
  right: 0 ;
  top: 30%;
  transition: all 0.5s;
}
.cart__item i:hover{
    color: #ee6c4d;
}

.cart__item{
    padding: 30px 0px;
    display: flex;
    position: relative;
    border-bottom: 1px solid #eee;
   
}
.cart__item .cart__item__img img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    background-color: #fff;
    border: 1px solid rgba(0 0 0 / 10%);
}

.cart__item .cart__item__text {
    text-align: center;
    padding-left: 15px;
}
.cart__item .cart__item__text h3{
    font-size: 17px;
    font-family: Poppins-SemiBold;
    padding: 7px 0px;
}
.cart__item .cart__item__text p{
    font-size: 17px;
    font-family: Poppins-Medium;
}

.cart__item .box__item__conut button {
 
    width: 30px;
    height: 35px;

  }
 .cart__item .box__item__conut input[type=number] {
    height: 35px;

  }
  
  .cartall__price {
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
    font-family: Poppins-SemiBold;
    font-size: 15px;
  }
  .cartall__price span{
    color: #ee6c4d;
  }
  .cartall__btn{
    gap: 10px;
  }
  .cartall__btn a{
    display: block;
  }

  .cartall__btn a .sec3__item__btn1{
    width: 100%;
  }
  /* #cartss.clear2{
    display: block;
    padding: 50% 0px;

  } */
  .what {
    display: block;
  }
  
  .what.whot {
    display: none;
  }
  
/* #whishnone.whot{
  display: none;
} */

 #whishnone{
  margin-top:50%;
 }
  
 .product-item {
  /* Other styles */
  animation: slideIn 0.1s ease forwards;
  opacity: 0;
}
/* CSS for animation */
@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateX(330px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
/* CSS for fade-in animation */
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.product-item.fadeIn {
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}
